/*GLOBAL STYLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --espacamento: 60px 4%;
}

#root {
  background-color: #0e1216;
  height: auto;
  font-family: "TASA Orbiter", sans-serif;
}

/*NAV BAR SITE*/
.interface {
  max-width: 1800px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  background-color: #696f75;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  color: #fff;
}

button:hover {
  padding: 10px 40px;
  font-weight: 600;
  background-color: #696f75;
  border-radius: 30px;
  border: 0;
  transform: scale(1);
  transition: .3s;
  cursor: pointer;
  color: #fff;
}

.img-logoMurilo {
  width: 200px;
  height: 90px;
  object-fit: cover;
}

header {
  padding: var(--espacamento);
}

.logo {
  width: 150px;
  height: 100px;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #6d6d6d;
  text-decoration: none;
  display: inline-block;
  font-size: 1.15em;
  font-weight: 600;
}

header a:hover {
  color: #fff;
  transform: scale(1.05);
  transition: .3s;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 50px;
}

header .btn-contato button:hover {
  box-shadow: 0px 0px 8px #b9bec3;
}

/*SECTION ESTILO DO TOPO DO SITE*/
.topo-do-site .interface .titulo {
  color: #fff;
}

.minhaFoto {
  width: 250px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

section.top-do-site {
  padding: 40px 20%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 5%;
  margin: 0;
}

.topo-do-site .txt-topo-site h1 {
  color: #bdb9b9;
  font-size: 28px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site span {
  color: #fff;
  font-size: 34px;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 30px 0;

}

.topo-do-site .img-topo-site {
  position: relative;
  filter: drop-shadow(0 0 1em #696f75);
  animation: flutuar 2.5s ease-in-out infinite alternate;

}

/*CONHECIMENTOS*/
section.conhecimentos {
  padding: var(--espacamento);
  display: flex;
}

section.conhecimentos .flex {
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

h2.titulo {
  color: #696f75;
  font-size: 28px;
  text-align: center;
  padding-bottom: 50px;
}

h2.titulo span {
  color: #fff;
}

.conhecimentos .conhecimentos-box-html,
.conhecimentos-box-css,
.conhecimentos-box-javascript,
.conhecimentos-box-node,
.conhecimentos-box-python,
.conhecimentos-box-react {
  width: 290px;
  color: #fff;
  border: 2px solid;
  border-radius: 25px;
  margin-top: 25px;
  padding: 20px 5px;

}

.conhecimentos a {
  text-decoration: none;
  color: white;
}

.conhecimentos .conhecimentos-box-html p,
.conhecimentos-box-css p,
.conhecimentos-box-javascript p,
.conhecimentos-box-node p,
.conhecimentos-box-python p,
.conhecimentos-box-react p {
  font-size: 18px;
  text-align: justify;
  padding: 5px 15px;
}

.conhecimentos .conhecimentos-box-html:hover {
  transform: scale(1.05);
  transition: .5s;
  cursor: pointer;
  filter: drop-shadow(0 0 3px orange);
  border-radius: 15px;

}

.conhecimentos .conhecimentos-box-css:hover {
  transform: scale(1.05);
  transition: .5s;
  cursor: pointer;
  filter: drop-shadow(0 0 3px cyan);
}

.conhecimentos .conhecimentos-box-javascript:hover {
  transform: scale(1.05);
  transition: .5s;
  cursor: pointer;
  filter: drop-shadow(0 0 3px yellow);
}

.conhecimentos .conhecimentos-box-node:hover {
  transform: scale(1.05);
  transition: .5s;
  cursor: pointer;
  filter: drop-shadow(0 0 3px rgb(0, 78, 0));
}

.conhecimentos .conhecimentos-box-python:hover {
  transform: scale(1.05);
  transition: .5s;
  cursor: pointer;
  filter: drop-shadow(0 0 3px #2f39f1aa);
}

.conhecimentos .conhecimentos-box-react:hover {
  transform: scale(1.05);
  transition: .5s;
  cursor: pointer;
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.conhecimentos .conhecimentos-box-html h3,
.conhecimentos-box-css h3,
.conhecimentos-box-javascript h3,
.conhecimentos-box-node h3,
.conhecimentos-box-python h3,
.conhecimentos-box-react h3 {
  font-size: 18px;
  margin: 15px 0;
}

/*SECTION PROJETOS*/
section.projetos {
  padding: var(--espacamento);
  box-shadow: 0 0 20px 5px #696f75;
}

section.projetos .flex {
  justify-content: space-around;
}

.img-port {
  width: 360px;
  height: 400px;
}

/*SECTION FORMULARIO DE CONTATO*/
section.formulario-conato {
  padding: var(--espacamento);
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: var(--espacamento);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #20cf54aa;
  border-radius: 25px;
  margin-top: 10px;
}

form input,
form textarea {
  width: 100%;
  background-color: #30363d;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
}

form textarea {
  resize: none;
  min-height: 150px;
}

form .btn-enviar {
  margin-top: 10px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: #696f75;
  cursor: pointer;
  font-weight: 700;
}

form .btn-enviar input:hover {
  transform: scale(1.05);
  transition: .3s;
  cursor: pointer;
  color: #20cf54aa;
  filter: drop-shadow(0 0 3px #20cf54aa);
}

/*RODAPE*/
footer {
  padding-top: 20px;
}

footer .flex {

  justify-content: space-between;
}

.sup {
  border-top: 1px solid green;
}

.btn-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}

footer .flex .line-footer.btn-social {
  display: flex;
  justify-content: space-around;
}

footer .line-footer a img {
  width: 34px;
  object-fit: cover;
}

footer .interface img {
  width: 100px;
  object-fit: cover;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 40px;
  }
}

@media screen and (max-width:1475px) {
  header nav ul li {
    padding: 0 30px;
  }

  /*topo do site*/
  .topo-do-site .interface .titulo {
    color: #fff;
  }

  .topo-do-site .txt-topo-site {
    width: 680px;
    padding: 40px 4%;
  }

  .topo-do-site .txt-topo-site p {
    width: 70%;
  }

  section.topo-do-site .flex {
    justify-content: space-evenly;
  }

  /*conecimentos*/

  section.conhecimentos .flex {
    padding: 30px 8%;
  }

  .conhecimentos .conhecimentos-box-html,
  .conhecimentos-box-css,
  .conhecimentos-box-javascript,
  .conhecimentos-box-node,
  .conhecimentos-box-python,
  .conhecimentos-box-react {
    width: 270px;
  }




}

@media screen and (max-width:1100px) {

  .menu-desktop,
  .btn-contato {
    display: none;
  }

  .interface .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /*TOPO DO SITE*/

  .topo-do-site .flex {
    flex-direction: column-reverse;
  }

  .topo-do-site .txt-topo-site {
    width: 680px;
  }

  .topo-do-site .txt-topo-site p {
    width: 100%;
    font-size: 20px;
  }

  section.topo-do-site .flex {
    text-align: left;
    justify-content: center;
  }

  /*CONHECIMENTOS*/

  section.conhecimentos .flex {
    padding: 30px 8%;
  }

  .conhecimentos .conhecimentos-box-html,
  .conhecimentos-box-css,
  .conhecimentos-box-javascript,
  .conhecimentos-box-node,
  .conhecimentos-box-python,
  .conhecimentos-box-react {
    width: 240px;
  }

  /*MEUS PROJETOS*/

  section.projetos .flex {
    align-items: center;
    flex-direction: column;
  }

  .img-port {
    margin: 5%;
    width: 360px;
    height: 400px;
  }
}

@media screen and (max-width:983px) {

  .menu-desktop,
  .btn-contato {
    display: none;
  }

  .interface .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /*TOPO DO SITE*/

  .topo-do-site .flex {
    flex-direction: column-reverse;
  }

  .topo-do-site .txt-topo-site {
    width: 680px;
  }

  .topo-do-site .txt-topo-site span {
    font-size: 24px;
  }

  .topo-do-site .txt-topo-site h1 {
    font-size: 21px;
  }

  .topo-do-site .txt-topo-site p {
    width: 100%;
    font-size: 19px;
  }

  section.topo-do-site .flex {
    text-align: left;
    justify-content: center;
  }

  /*CONHECIMENTOS*/

  .conhecimentos .conhecimentos-box-html,
  .conhecimentos-box-css,
  .conhecimentos-box-javascript,
  .conhecimentos-box-node,
  .conhecimentos-box-python,
  .conhecimentos-box-react {
    width: 280px;
  }

  /*MEUS PROJETOS*/

  section.projetos .flex {
    align-items: center;
    flex-direction: column;
  }

  .img-port {
    margin: 5%;
    width: 360px;
    height: 400px;
  }
}

@media screen and (max-width:679px) {
  #root {
    width: 100%;
  }

  .menu-desktop,
  .btn-contato {
    display: none;
  }

  .interface .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /*TOPO DO SITE*/

  .topo-do-site .flex {
    flex-direction: column-reverse;
  }

  .topo-do-site .txt-topo-site {
    width: 100%;
  }

  .topo-do-site .txt-topo-site span {
    font-size: 22px;
  }

  .topo-do-site .txt-topo-site h1 {
    font-size: 20px;
  }

  .topo-do-site .txt-topo-site p {
    width: 100%;
    font-size: 18px;
  }

  section.topo-do-site .flex {
    text-align: left;
    justify-content: center;
  }

  /*CONHECIMENTOS*/

  .conhecimentos .conhecimentos-box-html,
  .conhecimentos-box-css,
  .conhecimentos-box-javascript,
  .conhecimentos-box-node,
  .conhecimentos-box-python,
  .conhecimentos-box-react {
    width: 280px;
  }

  /*MEUS PROJETOS*/

  section.projetos .flex {
    align-items: center;
    flex-direction: column;
  }

  .img-port {
    margin: 5%;
    width: 360px;
    height: 400px;
  }
}

@media screen and (max-width:425px) {
  #root {
    width: 100%;
  }

  .menu-desktop,
  .btn-contato {
    display: none;
  }

  .interface .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /*TOPO DO SITE*/

  .topo-do-site .flex {
    flex-direction: column-reverse;
  }

  .topo-do-site .txt-topo-site {
    width: 100%;
  }

  .topo-do-site .txt-topo-site span {
    font-size: 22px;
  }

  .topo-do-site .txt-topo-site h1 {
    font-size: 20px;
  }

  .topo-do-site .txt-topo-site p {
    width: 100%;
    font-size: 18px;
  }

  section.topo-do-site .flex {
    text-align: left;
    justify-content: center;
  }

  /*CONHECIMENTOS*/

  .conhecimentos .conhecimentos-box-html,
  .conhecimentos-box-css,
  .conhecimentos-box-javascript,
  .conhecimentos-box-node,
  .conhecimentos-box-python,
  .conhecimentos-box-react {
    width: 280px;
  }

  /*MEUS PROJETOS*/

  section.projetos .flex {
    align-items: center;
    flex-direction: column;
  }

  .img-port {
    margin: 5%;
    width: 360px;
    height: 400px;
  }

  form {
    max-width: 400px;
  }

  form input,
  form textarea {
    width: 100%;
    background-color: #30363d;
    border: 0;
    outline: 0;
    padding: 10px 10px;
    border-radius: 15px;
    color: #fff;
  }

  form textarea {
    resize: none;
    min-height: 150px;
  }

  form .btn-enviar {
    margin-top: 10px;
    text-align: center;
  }

  form .btn-enviar input {
    width: 120px;
    background-color: #696f75;
    cursor: pointer;
    font-weight: 700;
  }

  form .btn-enviar input:hover {
    transform: scale(1.05);
    transition: .3s;
    cursor: pointer;
    color: #20cf54aa;
    filter: drop-shadow(0 0 3px #20cf54aa);
  }

}